<style>
  body { font-size: large; } .container { color: brown; }
</style>
<html lang='en'>
  <head>
    <title>Test</title>
  </head>

  <body>
    <div class='container'>
      First name:
      {{firstName}}
    </div>
    <div class='container'>Last name: {{lastName}}</div>
    <img src={{path}} alt='alt text' />
  </body>
</html>