<style>
  body { font-size: large; } .container { color: brown; }
</style>
<html lang='en'>
  <head>
    <title>Book Face</title>
  </head>

  <body>
    <div class='container'>
      {{name}}
    </div>
    <img src={{path}} alt='Girl in a jacket' width='500' height='600' />
  </body>
</html>